body {
  background-color: #efdded;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #161616;
}

form {
  padding: 30px;
  background-color: white;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  display: flex;
  margin-bottom: 30px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgb(187, 186, 186);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #161616;
}

.submit-button {
  margin-left: 16px;
  background: #937aa1;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 16px 24px;
  width: 150px;
  font-size: 16px;
}

.poem {
  font-size: 14px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #937aa1;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}

.poem strong {
  color: #937aa1;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
